.scope-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scope-circle {
  position: relative;
  width: 70vmin;
  height: 70vmin;
  border-radius: 50%;

  background: transparent;

  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.75);

  border: 3px solid #f3efef;
}

.scope-line {
  position: absolute;
  background: rgb(243, 236, 236);
}

.scope-line.v {
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.scope-line.h {
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.scope-circle {
  animation: recoil 0.1s ease-out;
}

@keyframes recoil {
  0% { transform: scale(1.15); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1.15); }
}
